black==21.10b0
coveralls==3.3.1
coverage==6.1.2
isort==5.10.1
moto==2.2.19
pydoc-markdown==4.3.2 ; python_version >= '3.7'
pydoc-markdown==3.13.0 ; python_version == '3.6'
pytest==6.2.5
pytest-cov==3.0.0
pylint==2.11.1