# This workflow will build and deploy documentation when a release is released

name: docs

# on: workflow_dispatch
on:
 release:
   types: [released]

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'
    - name: Install dependencies and dev dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e .[s3]
        pip install -r DEV_REQUIREMENTS.txt
        pip install -r S3_REQUIREMENTS.txt

    - name: Build docs with Portray
      env:
        PYTHONPATH: .
      run: |
        portray on_github_pages --force
