# This workflow will verify that documentation can still build successfully

name: docs-test-build

on: workflow_dispatch

#on:
#  pull_request:
#    branches: [master]
#    paths: [website/**]
#  push:
#    branches: [master]
#    paths: [website/**]

jobs:
  deploy:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - uses: actions/setup-python@v2
        with:
          python-version: '3.8'
          
      - uses: actions/cache@v2
        with:
          path: ${{ env.pythonLocation }}
          key: ${{ env.pythonLocation }}-${{ hashFiles('setup.py') }}-${{ hashFiles('./requirements/DEV_REQUIREMENTS.txt') }}

      - name: Install python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r ./requirements/DEV_REQUIREMENTS.txt
      
      - uses: actions/setup-node@v2
        with:
          node-version: 14.x
          cache: npm
          cache-dependency-path: website/package-lock.json
      
      - name: Test build
        working-directory: website
        run: |
          npm ci
          yarn build
