# This workflow will install Python dependencies, run tests and report coverage to coveralls
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: coverage

on: workflow_dispatch

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'

    - name: Install dependencies and dev dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r DEV_REQUIREMENTS.txt

    - name: Test with pytest
      run: |
        coverage run -m pytest --cov=./spock --cov-config=./tests/.coveragerc
        
    - name: Debug coveralls
      run: coveralls debug

    - name: Upload coverage data to coveralls.io
      run: coveralls --service=github --rcfile=./tests/.coveragerc
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
